#main {
    width: 500px;
    background-color: #EA4335;
    margin: 0 auto;
}
#table {
    width: 460px;
    margin: 0 auto;
    background-color: #e4d9ce;
    overflow: auto;    /*防止信息过长: 溢出时显示滚动条, 反之不显示*/
}
table {
    border: 3px dashed #000;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #F0F0AF;
}
caption {
    font-size: 2em;
    color: #0000FF;
    caption-side: top;
}
tr:nth-child(even) {
    background-color: #b3ffff;
}
td, th {
    border: 1px solid #FF0000;
    padding: 10px 3px;
    font-size: 1.5em;
    text-align: center;
    table-layout: fixed;
}
button {
    border: 1px solid #000;
    font-size: 1em;
    color: #ff6781;
}

#add {
      width: 460px;
      margin: 50px auto 0;
      background-color: #6495ED;
  }
form {
    width: 300px;
    text-align: center;
    background-color: #C0BFE8;
    margin: 0 auto;
}
input, form>button {
    margin-top: 10px;
}
